section{
    h1{
        color: $colorRojo;
        font-size: 20px;
        text-align: center;
    }
    h2{
        color: $colorAzul;
        font-size: 12px;
        text-align: center;
    }
    p{
        color: $colorAmarillo;
        font-size: 10px;
        text-align: center;
    }
}