// $colorRojo: red;
// $colorAzul: blue;
// $colorAmarillo: yellow;
// $colorVerde: green;

@import "variables";
@import "header";
@import "section";
@import "footer";
h1{
    color: $colorRojo;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}